<!DOCTYPE html>
<html>

<head>
    <title>Webcam and Video Stream</title>
    <script>
        function updateVideoPlayer() {
            var selectedVideo = document.getElementById('videoList').value;
            var videoPlayer = document.getElementById('videoPlayer');
            var downloadLink = document.getElementById('downloadLink');
            var videoURL = '/recordings/' + selectedVideo;
            videoPlayer.src = videoURL;
            videoPlayer.load();
            downloadLink.href = videoURL;
        }

        function reportTime() {
            var video = document.getElementById('videoPlayer');
            var time = video.currentTime;

            fetch('/progress', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ time: time }),
            });
        }

        function setupVideo() {
            var video = document.getElementById('videoPlayer');
            if (video) {
                video.ontimeupdate = reportTime;
            }
        }

        window.onload = function () {
            setupVideo();
            updateVideoPlayer(); // Set the initial video
        };
    </script>
</head>

<body>
    <h1>Camera Stream</h1>
    <img src="{{ url_for('video_feed') }}" alt="Webcam Stream">
    <form action="/start_recording" method="post">
        <input type="submit" value="Start Recording">
    </form>
    <form action="/stop_recording" method="post">
        <input type="submit" value="Stop Recording">
    </form>

    <h2>Select a Video</h2>
    <select id="videoList" onchange="updateVideoPlayer()">
        {% for video in video_files %}
        <option value="{{ video }}">{{ video }}</option>
        {% endfor %}
    </select>
    <a id="downloadLink" download>Download Video</a>

    <h2>Recorded Video</h2>
    <video id="videoPlayer" controls>
        <source src="" type="video/mp4">
        Your browser does not support the video tag.
    </video>

</body>

</html>